body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #3D8EB9;
}

a {
  color: #27AE61;
  text-decoration: none;
  &:hover {
    color: #027936;
  }
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

.page-wrapper {
  position: relative;
  color: $dark-blue-black;
  height: 95%;
  width: 100%;
  max-width: 992px;
  background: $white;
  box-shadow: $depth2;
  display: flex;
  flex-direction: column;
  @media (max-width: 1090px) {
    width: calc(100% - 60px);
    margin-left: 35px;
  }
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;

  img {
    transition: all 200ms;
    width: 150px;
    height: 150px;
  }

  .header {
    margin-top: 35px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav {
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex: 1;
    padding-right: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    transition: all 200ms;

    a {
      display: block;
      text-align: center;
      transition: all 200ms;
    }
  }
}

.header-wrapper-minimized {
  display: flex;
  flex-wrap: wrap;
  img {
    transition: all 200ms;
    margin-top: 5px;
    width: 80px;
    height: 80px;
  }

  .header {
    margin-top: 20px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h1 {
      font-size: 1.4em;
    }

    h5 {
      font-size: 1em;
    }
  }
  nav {
    margin-top: 5px;
    height: 60px;
    display: flex;
    flex: 1;
    padding-right: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    transition: all 200ms;

    a {
      font-size: 0.9em;
      display: block;
      text-align: center;
      transition: all 200ms;
    }
  }
}

.tab {
  position: absolute;
  left: -40px;
  width: 20px;
  padding: 10px;
  text-align: center;
  background: $white;
  border-right: 1px solid #e7e7e7;
  transition: all 100ms;

  &:hover {
    transition: all 100ms;
    background: $tab-hover;
    cursor: pointer;
  }
}
.about {
  top: 0px;
}

.work {
  border-top: 1px solid #e7e7e7;
  top: 100px;
}

.selected {
  background: $selected;
}